
@{
    ViewBag.Title = "Admin Login";
}

<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link href="~/Content/adminlogin.css" rel="stylesheet" />
</head>

<form action="/Account/AdminLogin" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <button type="submit">Log In</button>

    <p><a href="/Account/Login">Back to regular Login</a></p>

    @if (ViewBag.Message != null)
    {
        <p style="color:red;">@ViewBag.Message</p>
    }
</form>


